body{
    background-color: lightgray;
    align-items: center;
    height: 100vh;}
    .container {
      background-color: white;
      max-width: 300px;
      border-radius: 5px;
      padding: 20px;
      margin: 0 auto;
      margin-top: 50px;
    }
    h2{
      text-align: center;
    }
    .lable{
      display: block;

    }